* {
    box-sizing: border-box;
}

.down-change {
    color: red;
}

.up-change {
    color:green;
}

.show {
    display: block;
}
.unshow {
    display: none;
}
.nav-list {
    width: 300px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.main-nav {
    display: flex;
    justify-content: flex-end;
}
.admin-templates {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navigation {
  width: 12%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}

/* Navigation Menu - List items */
.nav-item {
    width: 200px;
}

.nav-item a {
    
    display: block;
    padding: 1em;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}


.site-wrap {
    /* margin-top: 50px; */
    min-height: 100%;
    min-width: 100%;
    background-color: white; 
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    background-size: 200%;
}


.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    left: 15px; top: 15px;
    z-index: 2;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
    }

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    /* box-shadow: 0 0 5px 5px rgba(0,0,0,0.5); */
}

body {
    overflow-x: hidden;
}


h1, h3, p {
    max-width: 600px;
    margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }